# =========================
# ENV / SECRETS
# =========================
.env
.env.production
.env.staging
setup-github-secrets.sh


#===============
docker-compose.minio.yml
docker-compose.dev.yml
docker-compose.redis.yml

# =========================
# NODE (React / Vite)
# =========================
node_modules
dist
build
.vite
.turbo
.nx
.parcel-cache
.eslintcache
.stylelintcache

# =========================
# GO
# =========================
tmp
bin
vendor/
go.work
go.work.sum

*.exe
*.dll
*.so
*.dylib
*.test
*.out

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# TEST / COVERAGE
# =========================
coverage/
*.coverprofile
*.lcov
.nyc_output/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER (LOCAL ONLY)
# =========================
docker-compose.override.yml

# =========================
# DATABASE LOCAL FILES
# =========================
*.db
*.sqlite
*.sqlite3